@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --main-color: #443;
  --border-radius: 10%/50%;
  --border-radius-hover: 20%/60%;
  --border: 2.5px solid var(--main-color);
  --border-hover: 2.5px dashed var(--main-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
.container {
  max-width: 1320px;
  margin: auto;
}
.mt50 {
  margin: 50px 0;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.all-btn {
  font-size: 18px;
  padding: 8px;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--main-color);
  display: inline-block;
}
.all-btn:hover {
  border: var(--border-hover);
  border-radius: var(--border-radius-hover);
}
header {
  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
  box-shadow: 0 11px 11px rgba(0, 0, 0, 0.1);
}
header .logo a {
  color: var(--main-color);
  font-size: 22px;
}
header .logo a i {
  margin-left: 10px;
}
header .nav-menu a {
  color: var(--main-color);
  margin-left: 22px;
  font-size: 18px;
  font-weight: lighter;
}
.home {
  min-height: 90vh;
  width: 100%;
  background-image: url("../images/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .row-1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 70%;
  justify-content: space-around;
  border: 1px solid black;
}
.left-data h3 {
  color: var(--main-color);
  line-height: 80px;
  font-size: 60px;
}
.left-data a {
  margin-top: 20px;
}
.right-img img {
  height: 350px;
}
.home .row-2 {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.home .row-2 img {
  height: 90px;
  width: 90px;
}
.about {
  display: flex;
  flex-wrap: wrap;
}
.about .title {
  text-align: center;
  height: 150px;
}
.about .title h1 {
  font-size: 90px;
  -webkit-text-stroke: 0.1rem black;
  color: transparent;
  opacity: 0.5;
  font-family: sans-serif;
  position: relative;
}
.about .title span {
  font-size: 45px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 37%;
}
.ab1 {
}
.ab2 {
  padding-left: 50px;
  width: 60%;
}
.ab1 img {
  margin: auto;
  width: 500px;
}
.about .ab2 {
}
.about .ab2 h4 {
  color: #444433;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.about .ab2 p {
  color: #444433;
  font-size: 18px;
  margin-bottom: 30px;
}
.about .ab2 a {
  color: #444433;
  border: 2px solid black;
  margin-bottom: 30px;
}
.row {
  display: flex;
  justify-content: center;
}
.box {
  border: 2px solid black;
  width: 30%;
  text-align: center;
  margin: auto;
}
.menu {
  background-image: url("../images/menu-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu .title {
  text-align: center;
  height: 150px;
}
.menu .title h1 {
  font-size: 90px;
  -webkit-text-stroke: 0.1rem black;
  color: transparent;
  opacity: 0.5;
  font-family: sans-serif;
  position: relative;
}
.menu .title span {
  font-size: 45px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 37%;
}
.menu-body {
  display: flex;
  flex-wrap: wrap;
}
.menu-box {
  display: flex;
  width: 45%;
  margin: 20px auto;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0 0 20px 40px;
}
.menu-box:hover {
  border: var(--border-hover);
  border-radius: var(--border-radius-hover);
  transition: 0.2s;
}
.menu-box .menu-image img {
  height: 80px;
  width: 80px;
  margin-left: -75px;
  margin-top: 45px;
}
.menu .container .menu-box .menu-data {
  padding-left: 20px;
}
.menu .container .menu-box .menu-data h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1.8;
  padding: 20px 0 0 0;
}
.menu .container .menu-box .menu-data p {
  font-size: 16px;
  color: var(--main-color);
  line-height: 1.8;
}
.menu .container .menu-box .menu-data span {
  font-size: 20px;
  color: var(--main-color);
  line-height: 1.8;
  font-weight: 400;
}
