@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #443;
  --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dashed var(--main-color);
  --gutter-width: 12px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s linear;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
section {
  padding: 6rem 0;
}
.btn-main {
  text-align: center;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 0.9rem 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--main-color);
}
.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 var(--gutter-width);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
  z-index: 1000;
}
header .logo {
  color: var(--main-color);
  font-size: 2.3rem;
}
/* header .logo::after {
  content: "\f7b6";
  font-family: fontAwesome;
} */
header .logo i {
  padding-left: 0.5rem;
}
header nav a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: var(--main-color);
}
header .btn {
  margin-top: 0;
}
